* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #EDF3F8;
  background-image: url(../images/bacround.png);
  background-size: 780px 780px;
  background-repeat: no-repeat;
  background-position: right top;
}

@media (max-width: 850px) {
  .body {
    background-image: url(../images/tablet-img.png);
    background-size: 949px auto;
    background-repeat: no-repeat;
    background-position: center top;
  }
}
@media (max-width: 689px) {
  .body {
    background-image: url(../images/phone-img.png);
    background-size: 780px auto;
    background-repeat: no-repeat;
    background-position: center top;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 40px 0 74px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
}

.header__logo-link {
  display: inline-block;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.header__link {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  color: #6C8294;
  line-height: 17px;
  text-transform: capitalize;
  transition: all 0.3s linear;
}
.header__link :hover {
  color: #36536B;
}

.header__link-demo {
  width: 173px;
  padding: 15px 0;
  background-color: #BA4270;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 16px;
  font-weight: 700px;
  line-height: 17px;
  color: white;
  cursor: pointer;
  text-transform: inherit;
  text-align: center;
}
.header__link-demo:hover {
  opacity: 75%;
}

@media (max-width: 850px) {
  .site-header {
    padding: 40px 0 48px;
  }
  .header__logo-img {
    width: 135px;
    height: 38px;
  }
}
@media (max-width: 689px) {
  .site-header {
    padding: 40px 0 32px;
  }
  .header__list {
    display: none;
  }
  .header__link-demo {
    display: none;
  }
  .header__menu-btn {
    display: block;
  }
}
.hero-section {
  padding-bottom: 75px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 206px;
}

.hero__content-wrapper {
  width: 546px;
}

.hero__title {
  margin-bottom: 21px;
  font-size: 72px;
  font-weight: 400;
  color: #36536B;
  line-height: 72px;
  text-transform: inherit;
}

.hero__form {
  width: 445px;
  margin-bottom: 16px;
}

.hero__label {
  width: 100%;
  position: relative;
}

.hero__input {
  width: 100%;
  padding: 15px 5px 15px 27px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
  outline: none;
  border: none;
  border-radius: 30px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  color: #6C8294;
  line-height: 17px;
  text-transform: inherit;
}
.hero__input::-moz-placeholder {
  color: #6C8294;
}
.hero__input::placeholder {
  color: #6C8294;
}
.hero__inputfokus {
  box-shadow: 0 0 5px 0 #36536B;
}

.hero__sumbit-btn {
  position: absolute;
  right: 0;
  margin: auto;
  width: 173px;
  padding: 15px 0;
  background-color: #BA4270;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 16px;
  font-weight: 700px;
  line-height: 17px;
  color: white;
  cursor: pointer;
  text-transform: inherit;
}
.hero__sumbit-btn:hover {
  opacity: 75%;
}

.hero__bottom-content {
  padding-left: 27px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  color: #6C8294;
  line-height: 17px;
  text-transform: inherit;
}

.work-section {
  padding: 100px 0;
  background: #1B262F;
  background-image: url(../images/work-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
}

.works {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.work {
  max-width: 445px;
}

.work > h2 {
  padding-bottom: 24px;
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 400;
  color: white;
  line-height: 56px;
  text-transform: inherit;
}

.work > p {
  margin-bottom: 32px;
  font-size: 15px;
  font-weight: 400;
  color: #6C8294;
  line-height: 28px;
  text-transform: inherit;
}

.work-btn {
  display: inline-block;
  width: 129px;
  padding: 15px 0;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid white;
  transition: all 0.3s linear;
  font-size: 16px;
  font-weight: 700px;
  line-height: 17px;
  color: white;
  cursor: pointer;
  text-transform: inherit;
  text-align: center;
}
.work-btn:hover {
  width: 173px;
  padding: 15px 0;
  background-color: #BA4270;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 16px;
  font-weight: 700px;
  line-height: 17px;
  color: white;
  cursor: pointer;
  text-transform: inherit;
}

.work__list {
  width: 536px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 39px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.work__item {
  width: 32%;
}

.work__item:nth-child(5) {
  text-align: center;
}

.easy-section {
  padding: 150px 0 0;
}

.easy {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0;
}

.easy__wrapper {
  width: 445px;
  padding-top: 110px;
}

.easy__wrapper > h2 {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 400;
  color: #36536B;
  line-height: 48px;
  text-transform: capitalize;
}

.easy__wrapper > p {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  color: #36536B;
  line-height: 28px;
  text-transform: capitalize;
}

.simple-section {
  padding: 150px 0 146px;
  background-image: url(../../images/simple.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right center;
}

.simple {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.simple__wrapper {
  width: 433px;
}

.simple__wrapper > h2 {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 400;
  color: #36536B;
  line-height: 56px;
  text-transform: inherit;
}

.simple__wrapper > p {
  margin-bottom: 24px;
  font-size: 15px;
  font-weight: 400;
  color: #6C8294;
  line-height: 28px;
  text-transform: inherit;
}

.Offering-section {
  padding-bottom: 120px;
}

.Offering-title {
  margin-bottom: 55px;
  color: rgb(61, 61, 63);
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
}

.Offering-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.Offering-item {
  width: 350px;
  padding: 18px 0;
  display: inline-block;
  text-align: center;
  border-left: 2px solid rgba(235, 235, 235, 0.8);
}

.remove-border-left {
  border-left: none;
}

.Offering-content-wrapper {
  margin-bottom: 34px;
  width: 102px;
  height: 102px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #36536B;
}

.Offering-count {
  padding-top: 34px;
  color: rgb(61, 61, 63);
  font-size: 36px;
  font-weight: 700px;
  line-height: 47px;
  letter-spacing: 0%;
}

.Offering-item-text {
  padding-top: 32px;
  color: rgb(61, 61, 63);
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0%;
}

.Offering-computer-img {
  margin-top: 25px;
}

.Offering-indication-img {
  margin-top: 25px;
}

.Offering-application-img {
  margin-top: 25px;
}

.ready-section {
  padding: 96px 0;
}

.ready {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.ready > h2 {
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 400;
  color: #36536B;
  line-height: 56px;
  text-transform: inherit;
}

.ready__form {
  width: 445px;
  margin-bottom: 16px;
}

.ready__label {
  width: 100%;
  position: relative;
}

.ready__input {
  width: 100%;
  padding: 15px 5px 15px 27px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
  outline: none;
  border: none;
  border-radius: 30px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  color: #6C8294;
  line-height: 17px;
  text-transform: inherit;
}
.ready__input::-moz-placeholder {
  color: #6C8294;
}
.ready__input::placeholder {
  color: #6C8294;
}
.ready__inputfokus {
  box-shadow: 0 0 5px 0 #36536B;
}

.ready__sumbit-btn {
  position: absolute;
  right: 0;
  margin: auto;
  width: 173px;
  padding: 15px 0;
  background-color: #BA4270;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 16px;
  font-weight: 700px;
  line-height: 17px;
  color: white;
  cursor: pointer;
  text-transform: inherit;
}
.ready__sumbit-btn:hover {
  opacity: 75%;
}

.ready__bottom-content {
  padding-left: 27px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  color: #6C8294;
  line-height: 17px;
  text-transform: inherit;
}/*# sourceMappingURL=main.css.map */


.site-footer{
  padding: 30px 0;
  background-color:#1B262F;
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.footer__logo-link{
  display: inline-block;
}
.footer__list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.footer__link{
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  transition: all 0.3s linear;
  color: #6C8294;
  
  &:hover{
    color: #36536B;
  }
}
.footer-wrapper {
}
.wrapper__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.wrapper__item {
}
.wrapper__link:hover{
  transition: all 0.3s linear;
  background-color: #DA6D97;
}